# Default NAMESPACE created by R
# Remove the previous line if you edit this file

useDynLib(iRegression, .registration=TRUE)
importFrom(Rcpp, evalCpp)
importFrom(mgcv, pcls)

export(bivar) 
export(ccrm)
export(icm)
export(icm.formula) 
export(crm)
export(MinMax)
export(MinMax.default) 
export(MinMax.formula)
export(bivar.default)
export(bivar.formula)
export(ccrm.default)
export(ccrm.formula) 
export(icm.default)
export(coef.MinMax) 
export(coef.bivar)
export(coef.ccrm)
export(coef.crm)
export(crm.default) 
export(crm.formula)
export(fitted.MinMax)
export(fitted.ccrm)
export(fitted.bivar)
export(fitted.icm)
export(fitted.crm)  
export(print.MinMax)
export(print.bivar)
export(print.ccrm)
export(print.icm)
export(print.coef.MinMax)
export(print.coef.bivar)
export(print.coef.ccrm)
export(print.coef.crm)
export(print.crm)
export(print.summary.MinMax)
export(print.summary.bivar)
export(print.summary.ccrm)
export(print.summary.icm)
export(print.summary.crm)
export(residuals.MinMax)
export(residuals.bivar)
export(residuals.ccrm)
export(residuals.icm)
export(residuals.crm)
export(summary.MinMax)
export(summary.bivar) 
export(summary.ccrm)
export(summary.icm)
export(summary.crm)
export(modm)

S3method(bivar,default)		 
S3method(bivar,formula)
S3method(print,bivar)
S3method(summary,bivar)
S3method(print,summary.bivar)
S3method(print,coef.bivar)
S3method(fitted,bivar)
S3method(residuals,bivar)
S3method(coef,bivar)

S3method(ccrm,default)		 
S3method(ccrm,formula)
S3method(print,ccrm)
S3method(summary,ccrm)
S3method(print,summary.ccrm)
S3method(print,coef.ccrm)
S3method(fitted,ccrm)
S3method(residuals,ccrm)
S3method(coef,ccrm)

S3method(icm,default)
S3method(icm,formula)
S3method(print,icm)
S3method(summary,icm)
S3method(print,summary.icm)
S3method(fitted,icm)
S3method(residuals,icm)

S3method(crm,default)		 
S3method(crm,formula)
S3method(print,crm)
S3method(summary,crm)
S3method(print,summary.crm)
S3method(print,coef.crm)
S3method(fitted,crm)
S3method(residuals,crm)
S3method(coef,crm)

S3method(MinMax,default)		 
S3method(MinMax,formula)
S3method(print,MinMax)
S3method(summary,MinMax)
S3method(print,summary.MinMax)
S3method(print,coef.MinMax)
S3method(fitted,MinMax)
S3method(residuals,MinMax)
S3method(coef,MinMax)

# Import all packages listed as Imports or Depends

importFrom("stats", "coef", "cor", "lm", "model.frame", "model.matrix", "model.response", "as.formula", "cov", "var")



