# Default NAMESPACE created by R
# Remove the previous line if you edit this file

export(bivar) 
export(ccrm)
export(cm)
export(crm)
export(MinMax)
export(MinMax.default) 
export(MinMax.formula)
export(bivar.default)
export(bivar.formula)
export(ccrm.default)
export(ccrm.formula) 
export(cm.default)
export(cm.formula)
export(coef.MinMax) 
export(coef.bivar)
export(coef.ccrm)
export(coef.crm)
export(crm.default) 
export(crm.formula)
export(fitted.MinMax)
export(fitted.ccrm)
export(fitted.bivar)
export(fitted.cm)
export(fitted.crm)  
export(print.MinMax)
export(print.bivar)
export(print.ccrm)
export(print.cm)
export(print.coef.MinMax)
export(print.coef.bivar)
export(print.coef.ccrm)
export(print.coef.crm)
export(print.crm)
export(print.summary.MinMax)
export(print.summary.bivar)
export(print.summary.ccrm)
export(print.summary.cm)
export(print.summary.crm)
export(residuals.MinMax)
export(residuals.bivar)
export(residuals.ccrm)
export(residuals.cm)
export(residuals.crm)
export(summary.MinMax)
export(summary.bivar) 
export(summary.ccrm)
export(summary.cm)
export(summary.crm)
export(modm)
export(modm2)

S3method(bivar,default)		 
S3method(bivar,formula)
S3method(print,bivar)
S3method(summary,bivar)
S3method(print,summary.bivar)
S3method(print,coef.bivar)
S3method(fitted,bivar)
S3method(residuals,bivar)
S3method(coef,bivar)

S3method(ccrm,default)		 
S3method(ccrm,formula)
S3method(print,ccrm)
S3method(summary,ccrm)
S3method(print,summary.ccrm)
S3method(print,coef.ccrm)
S3method(fitted,ccrm)
S3method(residuals,ccrm)
S3method(coef,ccrm)

S3method(cm,default)		 
S3method(cm,formula)
S3method(print,cm)
S3method(summary,cm)
S3method(print,summary.cm)
S3method(fitted,cm)
S3method(residuals,cm)

S3method(crm,default)		 
S3method(crm,formula)
S3method(print,crm)
S3method(summary,crm)
S3method(print,summary.crm)
S3method(print,coef.crm)
S3method(fitted,crm)
S3method(residuals,crm)
S3method(coef,crm)

S3method(MinMax,default)		 
S3method(MinMax,formula)
S3method(print,MinMax)
S3method(summary,MinMax)
S3method(print,summary.MinMax)
S3method(print,coef.MinMax)
S3method(fitted,MinMax)
S3method(residuals,MinMax)
S3method(coef,MinMax)

# Import all packages listed as Imports or Depends
import(mgcv)
importFrom("stats", "coef", "cor", "lm", "model.frame", "model.matrix", "model.response", "as.formula", "cov", "var")

# Export all names
exportPattern(".")

useDynLib(iRegression)
importFrom(Rcpp, sourceCpp)
